<tui-input-date-range [(ngModel)]="range" [tuiTextfieldCleaner]="true" [maxLength]="maxLength" [max]="max">
  Choose a range of dates
</tui-input-date-range>

<div [appSpace]="24"></div>

<button size="m" tuiButton type="button" (click)="onSubmit()">Submit</button>

<div [appSpace]="24"></div>

<apx-chart
  #chart
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [dataLabels]="chartOptions.dataLabels"
  [grid]="chartOptions.grid"
  [stroke]="chartOptions.stroke"
  [title]="chartOptions.title"
></apx-chart>
